.primary-navbar,
.header-cta-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.primary-navbar {
  padding: 0.5rem 6rem;
}
.header-cta-container {
  gap: 0 10px;
}

/* .login.cta {
  color: #992e9d;
}

.cta-bg {
  background: linear-gradient(#b73bbe, #992e9d);
  border-radius: 14px;
  padding: 12px 24px;
  box-shadow: 0 8px 12px -10px #992e9d;
  color: white;
} */

.secondry-navbar {
  background-color: #3b3b3e;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  gap: 0 10px;
}

.nav-links a {
  color: white;
  position: relative;
  transition: 0.3s;
}
.nav-links a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ffa50b;
  bottom: -12px;
  left: 0;
  border-radius: 10px 10px 0 0;
}

@media (max-width: 600px) {
  .signup {
    padding: 6px 12px;
  }
  .primary-navbar {
    padding: 0.5rem 2rem;
  }
}
