*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'poppins', system-ui;
  font-weight: bold;
}

a{
  color: black;
  text-decoration: none;
}

.purple{
  color: #992E9D;
}

.cta {
  color: #992e9d;
}

.cta-bg {
  background: linear-gradient(#b73bbe, #992e9d);
  border-radius: 14px;
  padding: 12px 24px;
  box-shadow: 0 8px 12px -10px #992e9d;
  color: white;
}